<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
  <div class="grid-item"></div>
  <div class="grid-item"></div>  
</div>

{% schema %}
{
  "name": "Masonry Grid",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "masonry-grid",
      "label": "Add masonry grid"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
